[gcode_macro MOVE_EXTRUDER_HOME]
gcode:
  SAVE_GCODE_STATE NAME=move_extruder_home
  G90
  G1 X142.2 Y151.5 F500
  RESTORE_GCODE_STATE NAME=move_extruder_home

[gcode_macro PROBE_CALI]
gcode:
     PROBE_CALIBRATE

[gcode_macro BED_MESH_CALIBRATE_CUSTOM]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Mesh calibrate
    BED_MESH_CALIBRATE 
    BED_MESH_PROFILE SAVE=ender_s1_plus_adaptive
    BED_MESH_PROFILE LOAD=ender_s1_plus_adaptive

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X15 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X15 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X17 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X17 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

# From https://github.com/Klipper3d/klipper/blob/master/config/sample-macros.cfg
######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set nozzle to reach temperature
    M104 S{EXTRUDER_TEMP}
    # Run automesh
    BED_MESH_CALIBRATE_CUSTOM BED_TEMP={BED_TEMP}
    # Set and wait nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Adaptive purging
    PRIME_LINE
    

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84
    
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
